@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;

  /* ie */
  scrollbar-base-color: rgba(0, 0, 0, 0);

  /* webkit */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  /* firefox */
  scrollbar-width: thin;

  scrollbar-face-color: #cccccc;
  scrollbar-shadow-color: #cccccc;
  scrollbar-arrow-color: #cccccc;
  scrollbar-highlight-color: #cccccc;
  scrollbar-3dlight-color: #cccccc;
  scrollbar-darkshadow-color: #cccccc;
  scrollbar-track-color: rgb(245, 245, 245);
  /* firefox */
  scrollbar-color: #e8e8e8 rgba(0, 0, 0, 0);
  /* webkit */
  ::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
  }
}
